<div class="jumbotron text-center">
    <h1>Welcome to Dev Match</h1>
    <h3>Membership site for a paid service.</h3>
<div>

<img src="https://usafaparentsclubcfl.files.wordpress.com/2012/07/cropped-usafa_terazzo-web1.jpg">
